{% extends 'base.html' %} {% block title %}Investment{% endblock %}
{%block content %}
    <h2>{{ investment.name }}</h2>
    <p><a href="{% url 'tracker:edit_investment' investment.id %}">Modify investment?</a></p>
    <ul>
        <li>Amout: {{ investment.amount }}</li>
        <li>Currency: {{ investment.currency }}</li>
        <li>Date: {{ investment.date_invested }}</li>
        <li>Description: {{ investment.description }}</li>
        <li>Active: {{ investment.is_current }}</li>
        <li>Type: {{ investment.investment_type }}</li>
        <li>Source: {{ investment.source }}</li>
    </ul>
{% endblock %}